use_default_settings: true
server:
  secret_key: "changeme" # Overridden by env var
  bind_address: "0.0.0.0"
  port: 8080
  base_url: "http://localhost:8080/"

search:
  safe_search: 0
  autocomplete: "google"
  formats:
    - html
    - json

engines:
  - name: google
    engine: google
    shortcut: g
    disabled: false
  - name: bing
    engine: bing
    shortcut: b
    disabled: false
  - name: duckduckgo
    engine: duckduckgo
    shortcut: ddg
    disabled: false
